<!DOCTYPE html>
<html>
<head>
<title>Trial Kart</title>
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	 addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
      window.scrollTo(0, 1);
  } 

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro'
	rel='stylesheet' type='text/css'>
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
	rel='stylesheet' type='text/css'>
<!--search jQuery-->
<script src="js/main.js"></script>
<!--search jQuery-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>

<script>
	$(document).ready(function() {
		$('#myCarousel').carousel({
			interval : false
		})
	});

	$(document).ready(function() {
		$('#myCarousel1').carousel({
			interval : false
		})
	});
</script>



</head>
<body>
	<!--header-->
	<!-- <div class="header">
  <div class="header-top">
    <div class="container">
      <div class="top-left">
        <a href="#"> Help <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> +0123-456-789</a>
      </div>
      <div class="top-right">
        <ul>
          <li><a href="/checkout">Checkout</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/registered"> Create Account </a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  </div> -->
	<!--header-->
	<!--banner-->
	<div class="header">

		<div class="heder-bottom">
			<div class="container">
			<div class="row"> 
				<div class="logo-nav col-md-4">
				<img src="./images/logo.png" class="img-responsive" alt="logo" />
				</div>
				<div class="col-md-4">
				</div>
					<div class="logo-nav-left col-md-4">
						
						<div class="logo-nav-left" style="float: right;">

							<h1>
								<a href="#">Trial Kart <span>TRY BEFORE U BUY</span></a>
							</h1>
						</div>
					</div>
				
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header nav_2">
							<button type="button"
								class="navbar-toggle collapsed navbar-toggle1"
								data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>

					</nav>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	</div>

	<!--banner-->

	{% block container %}{% endblock %}
	<div class="copy-section">
		<div class="container">
			<div class="footer">
				<p>
					&copy; 2018 Trial Kart . All rights reserved | Design by <a
						href="https://www.jotter.ai">Jotter.Ai</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</body>
</html>